.primary-outline {
  box-shadow: 0 0 0 2pt var(--color-primary);
}

.secondary-outline {
  box-shadow: 0 0 0 2pt var(--color-secondary);
}

.tertiary-outline {
  box-shadow: 0 0 0 2pt var(--color-tertiary);
}
